.category {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  opacity: 1;
  transition: opacity 0.01s, transform 0.1s ease-in-out;
  transform: translateY(var(--hover-offset));
}

.categoryTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dragging {
  opacity: 0;
}

/* .hovering-up {
  transform: translateY(var(--hover-offset));
}

.hovering-down {
  transform: translateY(calc(-1 * var(--hover-offset)));
} */